{% load static %}

{% include "perspectrumAnnotator/header.html" with username=username csrf_token=csrf_token %}

<div class="container">
    <div class="row">
            {% if not random_claim %}
            <div style="height: 200px; width: 100%"></div>
            <div class="col-sm-5">
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn btn btn-primary" data-intro="You can start by selecting a claim, or ... ">Select a claim</button>
                    <div id="myDropdown" class="dropdown-content">
{#                        <div class="form-group">#}
{#                            <input type="text" class="form-control input-sm" placeholder="Search..."#}
{#                                   id="myInput" onkeyup="filterFunction()">#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="text-align: center">
                or
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input id="claim-box" type="text" placeholder="Write a claim here" class="form-control"
                           value="{{ claim_text }}" style="width: 100%" data-intro="or you can write your own debate-worthy claim.">
                </div>
            </div>
            <div class="col-sm-1">
                <button id="search-claim" type="submit" class="btn btn-primary">
                    <span class="fui-search"></span>
                </button>
            </div>
        {% endif %}
        {% if request.GET.q or random_claim %}
            <div style="height: 10px; width: 100%"></div>
            <div style="text-align: center; width: 100%">
{#                <button type="button" class="btn btn-primary btn-xs" onclick="location.href = '/annotator/';">Home page.</button>#}
{#                <button type="button" class="btn btn-primary btn-xs" onclick="location.href = '/annotator/';">Random claim.</button>#}
                <br><hr>
                <p> Showing perspectives for the following claim: </p>
                <label class="btn-sm btn-dark"
                   {% if tutorial == "true" %}
                        data-intro="Notice the target claim here."
                   {% endif %}
                >{{ claim_text }}</label>

            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">
                <!--<button id="search-claim" type="button" class="btn btn-primary ">Search</button>-->
{#                <div class="btn-group">#}
{#                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button"#}
{#                            aria-expanded="false">#}
{#                        Load Pre-defined Examples#}
{#                    </button>#}
{#                    <ul role="menu" class="dropdown-menu" x-placement="bottom-start"#}
{#                        style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">#}
{#                        <li><a id="btn-load-example-1" href="JavaScript:void(0)">Example #1</a></li>#}
{#                        <li><a id="btn-load-example-2" href="JavaScript:void(0)">Example #2</a></li>#}
{#                        <li><a id="btn-load-example-3" href="JavaScript:void(0)">Example #3</a></li>#}
{#                        <li><a id="btn-load-example-4" href="JavaScript:void(0)">Example #4</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <button id="wiki" type="button" class="btn btn-default" data-toggle="button" aria-pressed="false"#}
{#                        autocomplete="off">Ask Wikipedia - Off</button>#}

{#                <button id="btn-switch-display-score" type="button" class="btn btn-default"#}
{#                        data-toggle="button" aria-pressed="false" autocomplete="off" >#}
{#                    Display Score - Off#}
{#                </button>#}
{#                <button id="btn-switch-feedback" type="button" class="btn btn-default"#}
{#                        data-toggle="button" aria-pressed="false" autocomplete="off">#}
{#                    Enable Feedback - Off#}
{#                </button>#}
            </div>
        </div>
    </div>

    {% if claim_text %}
        {% include "perspectrumAnnotator/two_column_annotator.html" with csrf_token=csrf_token %}
        {% if random_claim %}
            <br/>
            <div class="alert alert-secondary" role="alert">
                <strong>Check yourself</strong> before submitting:
                <ul>
                    <li>You have read all the perspectives and retained only the relevant claims?</li>
                    <li>The perspectives are in the correct column (for/against); if not, you have dragged them onto the correct column?</li>
                </ul>
            </div>
            <div style="text-align: center">
                <form method="POST" {% if sandbox == '1' %} action='https://workersandbox.mturk.com/mturk/externalSubmit'
                {% else %} action='https://www.mturk.com/mturk/externalSubmit' {% endif %}>
                    <input name="assignmentId" type="hidden" value="{{ assignmentId }}">
                    <div data-toggle="popover" data-trigger="hover"
                   data-container="body" data-placement="right" data-html="true"
                   data-content="Please give feedback to every perspective before submitting the claim!">
                        <button class="btn btn-primary" id="mturk-submit" style="pointer-events: none;" disabled> Submit the HIT </button>
                    </div>
                    <input name="dummy_input" type="hidden" value="foo is bar">
                </form>
            </div>
        {% else %}
            <div style="text-align: center">
                <button
                        type="button" class="btn btn-outline-dark" id="show-more-button"
                        {% if tutorial %}
                            data-intro="When you're done analyzing the current perspectives, you can click to see more candidate perspectives." data-step=7
                        {% endif %}
                >  Show More  ⬇  </button>
            </div>
        {% endif %}

        <br>
    {% endif %}
</div>

<script type="text/javascript">
    $.getJSON('/load_new_claim_text/', function(data) {
        var arrayLength = data.length;
        for (var i = 0; i < arrayLength; i++) {
            var element = "<a href='#base' onclick='load_claim( `" + data[i] + "` )'> " + data[i] + " </a>";
            $("#myDropdown").append(element)
        }
    });

    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

</script>
<script type="application/javascript">
    $('#search-claim').click(function () {
        let claimText = $("#claim-box").val();

        // Log the query in te data base
        $.post('/api/submit_query_log/', {
            "claim": claimText
        }, function() {
            console.log("Query Log Success!");
        });
        let url = '/annotator/withWiki/?q=' + encodeURIComponent(claimText);

        window.location.href = url;
    });
</script>
<script type="application/javascript">

    {% if tutorial == "true" or not visited %}
    let _intro = introJs();
    _intro.onbeforechange(function () {
        if (this._currentStep === 7) {
            if (!already_showed_more)
                show_more_persps();
            return true;
        }
    });
    _intro.start();
    {% endif %}

    function load_claim(text) {
        $('#claim-box').val(text)
    }

    $('#popover_citation').popover({
        html: true,
        content: function() {
            return $('#citation-content').html();
        }
    });

    $('document').ready(function () {

        $.post('/api/test_es_connection/', {}, function() {
            console.log("ES server connection [OK]");
        });

        $('.btn-feedback').click(function() {
            let num_feedback = $('.btn-feedback>i.active').length;
            let num_persps = $('.persp-title:visible').length;
            if ($(this).hasClass('btn-feedback-dislike')) {
                num_persps -= 1 // As the perspective will get deleted
            }
            console.log(num_feedback, num_persps);

            if (num_feedback >= num_persps) {
                $('#mturk-submit').attr("disabled", false);
                $('#mturk-submit').css('pointer-events', 'auto');
            }
        });

        $('#mturk-submit').click(function(){
            {#let num_feedback = $('.btn-feedback>i.active').length;#}
            {#let num_persps = $('.persp-title:visible').length;#}
            {##}
            {#console.log(num_feedback, num_persps);#}
            {#if (num_feedback === num_persps) {#}
            {#    let payload = {#}
            {#        "assignmentId" : "{{ assignmentId }}",#}
            {#    };#}
            {#    let _url = {% if sandbox == '1' %} 'https://workersandbox.mturk.com/mturk/externalSubmit';#}
            {#    {% else %} 'https://www.mturk.com/mturk/externalSubmit';#}
            {#    {% endif %}#}
            {#    $.post(_url, payload, function(data, textStatus) {#}
            {#        if (data.redirect) {#}
            {#        // data.redirect contains the string URL to redirect to#}
            {#            window.location.href = data.redirect;#}
            {#        }#}
            {#    })#}
            {# }#}
            {#else {#}
            {#    alert('Please submit feedback on every perspectives!');#}
            {# }#}
        });

        $('#btn-switch-display-score').change(function() {
            $('.score-collapse').collapse('toggle');
        });

        let $el_feedback = $('#btn-switch-feedback');
        let $el_display = $('#btn-switch-display-score');

{#        {% if claim_text %}#}
            $el_feedback.show();
            $el_feedback.click(function() {
                $('.btn-feedback').toggle();
            });

            $el_display.show();
            $el_display.click(function() {
                $('.score-collapse').toggle();
            });

{#        {% else %}#}
{#            $el_feedback.remove();#}
{#            $el_display.remove();#}
{#        {% endif %}#}
    });

    let already_showed_more = false;

    function show_more_persps() {
        console.log("show more . . . ");
            $('*[id^="persptive_box_und_"]').each(function() {
            {#console.log("Perspective . . . ");#}
            {#console.log(this);#}
            // $(this).css('display') == 'none' || $(this).css("visibility") == "hidden"
            if($(this).css("visibility") == "hidden") {
                {#console.log("hidden . . . ");#}
                $(this).css('visibility', 'visible');
                $(this).css('display', 'block');
                return false;
            }
            else {
                {#console.log("otherwise")#}
            }
        });

        $('*[id^="persptive_box_sup_"]').each(function() {
            {#console.log("Perspective . . . ");#}
            {#console.log(this);#}
            // $(this).css('display') == 'none' || $(this).css("visibility") == "hidden"
            if($(this).css("visibility") == "hidden") {
                {#console.log("hidden . . . ");#}
                $(this).css('visibility', 'visible');
                $(this).css('display', 'block');
                return false;
            }
            else {
                {#console.log("otherwise")#}
            }
        });
        already_showed_more = true
    }
        // upon each click, reveal new perspectives
    $('#show-more-button').click(function() {
       show_more_persps();
    });
</script>
</body>
</html>