{% load static %}

{% include "perspectrumAnnotator/header.html" %}

<div class="container">
    <div class="row">
        {% if not persp_sup %}
            <div class="col-sm-5">
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn btn btn-primary">Select a claim</button>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()">
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="text-align: center">
                or
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input id="claim-box" type="text" placeholder="Write a claim here" class="form-control"
                           value="{{ claim_text }}" style="width: 100%">
                </div>
            </div>
            <div class="col-sm-1">
                <button id="search-claim" type="submit" class="btn btn-primary">
                    <span class="fui-search"></span>
                </button>
            </div>
        {% else %}
            <div style="text-align: center; width: 100%">
                <button type="button" class="btn btn-primary btn-xs" onclick="location.href = '/annotator/';">Home page.</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="location.href = '/annotator/';">Random claim.</button>
                <br><hr>
                <p> Showing perspectives for the following claim: `<i>{{ claim_text }}</i>`. </p>

            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">
                <!--<button id="search-claim" type="button" class="btn btn-primary ">Search</button>-->
{#                <div class="btn-group">#}
{#                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button"#}
{#                            aria-expanded="false">#}
{#                        Load Pre-defined Examples#}
{#                    </button>#}
{#                    <ul role="menu" class="dropdown-menu" x-placement="bottom-start"#}
{#                        style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">#}
{#                        <li><a id="btn-load-example-1" href="JavaScript:void(0)">Example #1</a></li>#}
{#                        <li><a id="btn-load-example-2" href="JavaScript:void(0)">Example #2</a></li>#}
{#                        <li><a id="btn-load-example-3" href="JavaScript:void(0)">Example #3</a></li>#}
{#                        <li><a id="btn-load-example-4" href="JavaScript:void(0)">Example #4</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <button id="wiki" type="button" class="btn btn-default" data-toggle="button" aria-pressed="false"#}
{#                        autocomplete="off">Ask Wikipedia - Off</button>#}

{#                <button id="btn-switch-display-score" type="button" class="btn btn-default"#}
{#                        data-toggle="button" aria-pressed="false" autocomplete="off" >#}
{#                    Display Score - Off#}
{#                </button>#}
{#                <button id="btn-switch-feedback" type="button" class="btn btn-default"#}
{#                        data-toggle="button" aria-pressed="false" autocomplete="off">#}
{#                    Enable Feedback - Off#}
{#                </button>#}
            </div>
        </div>
    </div>

    {% if claim_text %}
        {% include "perspectrumAnnotator/two_column_annotator.html" %}
        <div style="text-align: center">
            <button type="button" class="btn btn-outline-dark" id="show-more-button"> Show More ⬇ </button>
        </div>
        <br>
    {% endif %}
</div>

<script type="text/javascript">
    $.getJSON('/load_new_claim_text/', function(data) {
        var arrayLength = data.length;
        for (var i = 0; i < arrayLength; i++) {
            var element = "<a href='#base' onclick='load_claim( `" + data[i] + "` )'> " + data[i] + " </a>";
            $("#myDropdown").append(element)
        }
    });

    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

</script>
<script type="application/javascript">
    $('#search-claim').click(function () {
        var claimText = $("#claim-box").val();

        // Log the query in te data base
        $.post('/api/submit_query_log/', {
            "claim": claimText
        }, function() {
            console.log("Query Log Success!");
        });
        let url = '/annotator/' + claimText + "/" + withWiki + "/";

        window.location.href = url;
    });
</script>
<script type="application/javascript">

    function load_claim(text) {
        $('#claim-box').val(text)
    }

    $('#popover_citation').popover({
        html: true,
        content: function() {
            return $('#citation-content').html();
        }
    });

    $('document').ready(function () {
        //var wikipedia_searched = false;

        $.post('/api/test_es_connection/', {}, function() {
            console.log("ES server connection [OK]");
        });

        $('#btn-switch-display-score').change(function() {
            $('.score-collapse').collapse('toggle');
        });

        /*if (window.location.href.includes('withWiki')) {
            $('#wiki').addClass('active');
            $('#wiki').removeClass('btn-default');
            $('#wiki').addClass('btn-primary');
            $('#wiki').html('Ask Wikipedia - On');
        }*/

        let $el_feedback = $('#btn-switch-feedback');
        let $el_display = $('#btn-switch-display-score');

{#        {% if claim_text %}#}
            $el_feedback.show();
            $el_feedback.click(function() {
                $('.btn-feedback').toggle();
            });

            $el_display.show();
            $el_display.click(function() {
                $('.score-collapse').toggle();
            });

{#        {% else %}#}
{#            $el_feedback.remove();#}
{#            $el_display.remove();#}
{#        {% endif %}#}
    });

        // upon each click, reveal new perspectives
    $('#show-more-button').click(function() {
        console.log("show more . . . ");
            $('*[id^="persptive_box_und_"]').each(function() {
            {#console.log("Perspective . . . ");#}
            {#console.log(this);#}
            // $(this).css('display') == 'none' || $(this).css("visibility") == "hidden"
            if($(this).css("visibility") == "hidden") {
                {#console.log("hidden . . . ");#}
                $(this).css('visibility', 'visible');
                $(this).css('display', 'block');
                return false;
            }
            else {
                {#console.log("otherwise")#}
            }
        });

        $('*[id^="persptive_box_sup_"]').each(function() {
            {#console.log("Perspective . . . ");#}
            {#console.log(this);#}
            // $(this).css('display') == 'none' || $(this).css("visibility") == "hidden"
            if($(this).css("visibility") == "hidden") {
                {#console.log("hidden . . . ");#}
                $(this).css('visibility', 'visible');
                $(this).css('display', 'block');
                return false;
            }
            else {
                {#console.log("otherwise")#}
            }
        });
    });
</script>
</body>
</html>