{% load static %}

{% include "perspectrumAnnotator/header.html" %}

<div class="container">

    <h4>What is Perspective Annotator?</h4>
    <p>
        Perspective Annotator is an interactive environment for exploring debate-worthy claims.
        Given such claims, we've designed a system that automatically searches the web for potential arguments
        from different perspectives.
    </p>

    <h4>Motivation?</h4>
    <p>
        Understanding controversial issues usually require insights from various perspectives.
        We want to help individuals become more open-minded towards views that they don’t necessarily agree with.
    </p>

    <h4>How can you help?</h4>
    <p>
        Feel free to explore the site with different claims. We'd like you to give feedbacks for the quality of
        the perspectives based on their validity. This will potentially help us improve the system that's
        powering this site!
    </p>

    <h4>Who's behind all this?</h4>
    <p>
        We are a group of researchers interested in understanding argumentation from a computational perspective (no pun intended).
        Feel free to let us know what you think about the site by hitting the contact us button above!
    </p>



</div>


</body>
</html>