{% load static %}

{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha256-7bYJaNviFZlH+bKqZlshmYKeyvkp+fXBQuerWp2AXlA=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
          integrity="sha256-39jKbsb/ty7s7+4WzbtELS4vq9udJ+MDjGTD5mtxHZ0=" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/style.css" %}?ver2">
{#    <script type="text/javascript" src="{% static "js/vis.js" %}"></script>#}
{#    <link href="{% static "css/vis-network.min.css" %}" rel="stylesheet" type="text/css"/>#}
    <script type="text/javascript" src="{% static "js/jquery.easy-autocomplete.js" %}"></script>
    <link href="{% static "css/easy-autocomplete.css" %}" rel="stylesheet" type="text/css"/>

    <title>PerspectroScope</title>
    {% csrf_token %}
</head>
<body>

<style type="text/css">
    .topright {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
    }

    .dropbtn {
        border: none;
        cursor: pointer;
        width: 350px;
    }

    #myInput {
      box-sizing: border-box;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 14px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
    }

    #myInput:focus {outline: 3px solid #ddd;}

    .dropdown {
          position: relative;
          display: inline-block;
    }

    .dropdown-content {
          display: none;
          {#position: absolute;#}
          background-color: #f6f6f6;
          min-width: 300px;
          overflow: auto;
          border: 1px solid #ddd;
          z-index: 1;
          font-size: 12px;
    }

    .dropdown-content a {
          color: black;
          padding: 3px 16px;
          text-decoration: none;
          display: block;
    }

    .dropdown a:hover { background-color: #ddd; }

    .show {display: block;}

    {##mynetwork {#}
    {#    width: 100%;#}
    {#    height: 100%;#}
    {#}#}

    code {
        font-size: 12px;
        background: #dddddd;
    }

    .popover {
        max-width: none;
    }
</style>
{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 0; border-radius: 0">#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{#  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">#}
{#    <ul class="navbar-nav">#}
{#      <li class="nav-item ">#}
{#        <a class="nav-link" style="font-weight: normal" href="http://cogcomp.org/perspectrum/">Perspectrum</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link active" style="font-weight: bold" href="Javascript:void(0)">Perspectroscope</a>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4"><a href="/annotator">Perspective Annotator</a></h1>
{#                <p class="lead">A Window to the World of Diverse Perspectives.</p>#}
            </div>
        </div>
    </div>
</div>

<div class="topright">
    <span class="badge badge-secondary"><a href="mailto:danielkh@cis.upenn.edu" style="color: white">Contact Us</a></span>
{#<span class="badge badge-success">Success</span>#}
{#<span class="badge badge-danger">Danger</span>#}
{#<span class="badge badge-warning">Warning</span>#}
{#<span class="badge badge-info">Info</span>#}
{#<span class="badge badge-light">Light</span>#}
{#<span class="badge badge-dark">Dark</span>#}
{#    <button type="button" class="btn btn-primary">#}
{#  Notifications <span class="badge badge-light">4</span>#}
{#</button>#}
</div>

<div class="container">
    <div class="row">
        {% if not persp_sup %}
            <div class="col-sm-5">
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn btn btn-primary">Select a claim</button>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()">
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="text-align: center">
                or
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input id="claim-box" type="text" placeholder="Write a claim here" class="form-control"
                           value="{{ claim_text }}" style="width: 100%">
                </div>
            </div>
            <div class="col-sm-1">
                <button id="search-claim" type="submit" class="btn btn-primary">
                    <span class="fui-search"></span>
                </button>
            </div>
        {% else %}
            <div style="text-align: center; width: 100%">
                <button type="button" class="btn btn-primary btn-xs" onclick="location.href = '/annotator/';">Home page.</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="location.href = '/annotator/';">Random claim.</button>
                <br><hr>
                <p> Showing perspectives for the following claim: `<i>{{ claim_text }}</i>`. </p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">
                <!--<button id="search-claim" type="button" class="btn btn-primary ">Search</button>-->
{#                <div class="btn-group">#}
{#                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button"#}
{#                            aria-expanded="false">#}
{#                        Load Pre-defined Examples#}
{#                    </button>#}
{#                    <ul role="menu" class="dropdown-menu" x-placement="bottom-start"#}
{#                        style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">#}
{#                        <li><a id="btn-load-example-1" href="JavaScript:void(0)">Example #1</a></li>#}
{#                        <li><a id="btn-load-example-2" href="JavaScript:void(0)">Example #2</a></li>#}
{#                        <li><a id="btn-load-example-3" href="JavaScript:void(0)">Example #3</a></li>#}
{#                        <li><a id="btn-load-example-4" href="JavaScript:void(0)">Example #4</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <button id="wiki" type="button" class="btn btn-default" data-toggle="button" aria-pressed="false"#}
{#                        autocomplete="off">Ask Wikipedia - Off</button>#}

{#                <button id="btn-switch-display-score" type="button" class="btn btn-default"#}
{#                        data-toggle="button" aria-pressed="false" autocomplete="off" >#}
{#                    Display Score - Off#}
{#                </button>#}
{#                <button id="btn-switch-feedback" type="button" class="btn btn-default"#}
{#                        data-toggle="button" aria-pressed="false" autocomplete="off">#}
{#                    Enable Feedback - Off#}
{#                </button>#}
            </div>
        </div>
    </div>

    {% if claim_text %}
        {% include "two_column_annotator.html" %}
        <div style="text-align: center">
            <button type="button" class="btn btn-outline-dark" id="show-more-button"> Show More ⬇ </button>
        </div>
        <br>
    {% endif %}
</div>

<script type="text/javascript">
    $.getJSON('/load_new_claim_text/', function(data) {
        var arrayLength = data.length;
        for (var i = 0; i < arrayLength; i++) {
            var element = "<a href='#base' onclick='load_claim( `" + data[i] + "` )'> " + data[i] + " </a>";
            $("#myDropdown").append(element)
        }
    });

    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

</script>
<script type="application/javascript">
    $('#search-claim').click(function () {
        var claimText = $("#claim-box").val();

        // Log the query in te data base
        $.post('/api/submit_query_log/', {
            "claim": claimText
        }, function() {
            console.log("Query Log Success!");
        });
        let url = '/annotator/' + claimText + "/" + withWiki + "/";

        window.location.href = url;
    });
</script>
<script type="application/javascript">

    function load_claim(text) {
        $('#claim-box').val(text)
    }

    $('#popover_citation').popover({
        html: true,
        content: function() {
            return $('#citation-content').html();
        }
    });

    $('document').ready(function () {
        //var wikipedia_searched = false;

        $.post('/api/test_es_connection/', {}, function() {
            console.log("ES server connection [OK]");
        });

        $('#btn-switch-display-score').change(function() {
            $('.score-collapse').collapse('toggle');
        });

        /*if (window.location.href.includes('withWiki')) {
            $('#wiki').addClass('active');
            $('#wiki').removeClass('btn-default');
            $('#wiki').addClass('btn-primary');
            $('#wiki').html('Ask Wikipedia - On');
        }*/

        let $el_feedback = $('#btn-switch-feedback');
        let $el_display = $('#btn-switch-display-score');

{#        {% if claim_text %}#}
            $el_feedback.show();
            $el_feedback.click(function() {
                $('.btn-feedback').toggle();
            });

            $el_display.show();
            $el_display.click(function() {
                $('.score-collapse').toggle();
            });

{#        {% else %}#}
{#            $el_feedback.remove();#}
{#            $el_display.remove();#}
{#        {% endif %}#}
    });

        // upon each click, reveal new perspectives
    $('#show-more-button').click(function() {
        console.log("show more . . . ");
            $('*[id^="persptive_box_und_"]').each(function() {
            {#console.log("Perspective . . . ");#}
            {#console.log(this);#}
            // $(this).css('display') == 'none' || $(this).css("visibility") == "hidden"
            if($(this).css("visibility") == "hidden") {
                {#console.log("hidden . . . ");#}
                $(this).css('visibility', 'visible');
                $(this).css('display', 'block');
                return false;
            }
            else {
                {#console.log("otherwise")#}
            }
        });

        $('*[id^="persptive_box_sup_"]').each(function() {
            {#console.log("Perspective . . . ");#}
            {#console.log(this);#}
            // $(this).css('display') == 'none' || $(this).css("visibility") == "hidden"
            if($(this).css("visibility") == "hidden") {
                {#console.log("hidden . . . ");#}
                $(this).css('visibility', 'visible');
                $(this).css('display', 'block');
                return false;
            }
            else {
                {#console.log("otherwise")#}
            }
        });
    });
</script>
</body>
</html>